name: Deploy to Production

on:
  release:
    types: [released]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  promote-to-prod:
    runs-on: ubuntu-latest
    environment: Production
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Pull, Retag, and Push
      run: |
        RAW_TAG=${{ github.event.release.tag_name }}
        VERSION=${RAW_TAG#v}

        echo "Promoting Version: $VERSION to Production"

        docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:$VERSION
        docker tag ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:$VERSION ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:production
        docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:production

    - name: Trigger Deployment
      run: echo "Deployment triggered for release ${{ github.event.release.tag_name }}"